<main role="main">

  <section class="jumbotron">
    <div class="container ">
        <div class="text-center">
            <ng-container *ngIf="show">
              <video id="videoPlayer" controls>  
                  <source src="{{video_link}}" type="video/mp4">
              </video>
            </ng-container>
        </div>
        <div class="mt-3">
                <h2>{{video_title}}</h2>
                <p>{{video_author}}</p>
                <p>{{video_views}} Vues</p>
        </div>
        <p class="lead text-muted ">{{video_description}}</p>
        
        <form #searchForm="ngForm" (ngSubmit)="addToPlaylist(video_link)" class="form-inline">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" type="submit">Add to Playlist</button>
          </div>
        </form>
    </div>
  </section>
  

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
